<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск киносеансов в моём городе</title>
    <base href="/">

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css.map" rel="stylesheet" />
    <link href="app/assets/css/common.css" rel="stylesheet" />
</head>
<body ng-app="app">

    <div ng-controller="MainCtrl">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">Поиск киносеансов:</div>
                </div>

                <ul class="nav navbar-nav">
                    <li ng-repeat="city in cities"
                        ng-class="city.id == cityID ? 'active' : ''">
                        <a ng-click="setCity(city.id)" ng-bind="city.title"></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <p class="genres">
                <b>Фильтр по жанру: </b>
                <span class="label"
                      ng-repeat="genre in genres"
                      ng-class="genre.genreID == genreID ? 'label-success' : 'label-default'"
                      ng-click="setGenre(genre.genreID)">{{genre.genreName}}</span>
            </p>

            <div ui-films="films" city-id="cityID"></div>
        </div>
    </div>

    <!--подключени AngularJS + модули -->
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <!--Подключение приложения-->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/models/Genre.js"></script>
    <script type="text/javascript" src="app/models/Film.js"></script>
    <script type="text/javascript" src="app/directives/ui-films/Index.js"></script>
    <script type="text/javascript" src="app/controllers/MainCtrl.js"></script>
</body>
</html>