<p>
    <b>Сортировка:</b>
    <span class="btn-reverse" ng-click="reverse = ! reverse">
        по рейтингу
        <span class="glyphicon" ng-class=" reverse ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
    </span>
</p>
<div class="thumbnail" ng-repeat="film in uiFilms | orderBy:'-rating':reverse">
    <div class="row">
        <div class="col-lg-2">
            <img alt="{{film.nameRU}}" ng-src="{{film.posterURL}}">
        </div>
        <div class="col-lg-10">
            <h4 ng-bind="film.nameRU"></h4>
            <p ng-if="film.genre">
                <b>Жанры:</b>
                <span class="label label-default" ng-repeat="genre in film.genre">{{genre}}</span>
            </p>
            <p ng-if="film.rating">
                <b>Рейтинг:</b>
                <span ng-bind="film.rating"></span> из 10
            </p>
        </div>
    </div>
    <div ui-tabs="getTabs(cityID, film.id)"></div>
</div>