<div class="modal" ng-class="active ? 'show' : ''">
    <div class="modal-dialog "><div class="modal-content" uib-modal-transclude="">
        <div class="modal-header">
            <h3 class="modal-title" ng-bind="title"></h3>
        </div>
        <div class="modal-body">
            <div class="map" style="width: 100%; height:250px"></div>
            <p ng-bind="address"></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="active = false">Закрыть</button>
        </div>
    </div></div>
</div>