<div class="tabs">
    <div class="wrapp-btns-tabs">
            <span class="btn-tab"
                  ng-repeat="(index, tab) in tabs"
                  ng-click="onClickTab(index)"
                  ng-class="tabs.index == index ? 'active' : ''"
                  ng-bind="tab.title"></span>
    </div>
    <div class="wrapp-tabs">
        <div class="tab"
             ng-repeat="(index, tab) in tabs"
             ng-class="tabs.index == index ? 'active' : ''">
            <div ng-if=" ! tab.loaded">Загрузка...</div>
            <div ng-bind-html="tab.content"></div>
        </div>
    </div>
</div>