<p class="genres">
    <span class="label"
          ng-repeat="genre in genres"
          ng-class="genre.genreID == actionId ? 'label-success' : 'label-default'"
          ng-click-="setGenre(genre.genreID)">{{genre.genreName}}</span>
</p>