* {
    cursor: default;
}
.list-films {
    padding-left: 0;
    list-style: none;
}
.list-films > li {
    width: 12.5%;
    float: left;
    margin: 0.3em;
}
span.label {
    margin: 2px;
    display: inline-block;
}
.genres > span {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.thumbnail img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
.thumbnail > .row {
    padding: 1em;
}
.btn-reverse {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-reverse .glyphicon {
    font-size: .7em;
}
.tabs {
    position: relative;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}

.tabs .wrapp-btns-tabs {
    position: absolute;
    right: 2em;
    top: -10px;
}
.tabs .wrapp-btns-tabs .btn-tab {
    background-color: #FFF;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabs .wrapp-btns-tabs .btn-tab.active {
    text-decoration: underline;
}
.tabs .wrapp-tabs .tab {
    padding: 1em;
    display: none;
}
.tabs .wrapp-tabs .active {
    display: block;
}
.navbar-nav a {
    cursor: pointer;
}
.modal {
    background: rgba(0, 0, 0, 0.59);
}
.modal.show {
    display: block;
}
a {
    cursor: pointer;
}
.ended {
    color: #a9a9a9;
}